body {
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 20px;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}